* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            border: none;
            outline: none;
            scroll-behavior: smooth;
            font-family: "Raleway", sans-serif;
            font-family: "Source Code Pro", monospace;


        }

        ::-webkit-scrollbar {
            width: 7px;
        }

        ::-webkit-scrollbar-thumb {
            background:linear-gradient(to top, #69cc65,#00ff15);
            border-radius: 6px;
            animation: animate 5s linear infinite;

        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: var(--bg-color);
        }


        :root {
            --bg-color: #000000;
            --second-bg-color: #000000;
            --text-color: #fff;
            --main-color: rgb(0, 255, 21);
        }

        html {
            font-size: 62.5%;

        }

        body {
            background: var(--bg-color);
            color: var(--text-color);
        }

        section {
            min-height: 100vh;
            padding: 10rem 9% 2rem;
        }

        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 1rem 9%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
            background-color: #2d2e3273;
            border: 1px solid #2d2e3240;
            box-shadow: 0 0 10px 1px #00000040;
            backdrop-filter: blur(15px);
            color: #fefefe;
            margin: 0;
        }

        .logo {
            font-size: 2.8rem;
            color: var(--text-color);
            font-weight: 600;
            cursor: default;
        }

        .navbar a {
            color: var(--main-color);
            font-size: 1.7rem;
            color: var(--text-color);
            margin-left: 3.1rem;
            transition: .3s;
        }

        .navbar a:hover,
        .navbar a.active {
            color: var(--main-color);
        }

        #menu-icon {
            font-size: 3.6rem;
            color: var(--text-color);
            display: none;
        }
        

        .calendar{
         position: relative;
         width: 300px;
        }

        .calendar:before{
          content: '';
          position: absolute;
          width: 80px;
          height: 80px;
          box-shadow: 215px 70px #ffc300, 5px 70px #FF5733;
          border-radius: 50%;
        }

        .calendar .calendar-body{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         background: rgba(255, 255, 255, 0.1);
         backdrop-filter: blur(15px);
         background-color: #2d2e3273;
         border-bottom: 6px solid ;
         border-right: 1px solid rgba(255, 255, 255, 0.1);
         border-radius: 8px;
         box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
        }

        .calendar .calendar-body .month-name{
        color: #fff;
            background-color: #2d2e3273;
        background: ;
        width: 100%;
        font-size: 1.6em;
        text-align: center;
        font-weight: 400;
        padding: 5px 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        }

        .calendar .calendar-body .day-name{
         color: #fff;
         font-size: 1.2em;
         font-weight: 400;
         margin-top: 20px;
        }

        .calendar .calendar-body .date-number{
         color: #fff;
         font-size: 6em;
         font-weight: 600;
         line-height: 1.2em;
        }

        .calendar .calendar-body .year{
         color: #fff;
         font-size: 1.2em;
         font-weight: 400;
         margin-bottom: 20px;
        }

        .home-img img {
            position: absolute;
            top: 0;
            right: 0;
            width: 35vw;
            animation: floatImage 6s ease-in-out infinite; 
        }

        @keyframes floatImage {
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateY(5%) ;
            }
            100% {
                transform: translateX(0);
            }
        }

        .home-content h3 {
            text-align: right;
            padding: 20px;
            font-size: 5rem;
            font-weight: 700;
        }

        /* .home-content h1 {
            text-align: left !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 1.5;
            margin-top: 7rem;
        } */


        .home-content h3:nth-of-type(2) {
            margin-bottom: 2rem;
        }

        span {
            color: var(--main-color);
        }
            .social-media-one {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: fixed;
                bottom: 0;
                left: 0;
                height: 80vh;
                background: var(--bg-color);
                z-index: 1;
                padding: 2rem; 
                transition: width 0.3s ease;
            }

            .social-media-one a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 4.5rem;
                height: 4.5rem;
                background: transparent;
                border: .2rem solid var(--main-color);
                border-radius: 50%;
                font-size: 2rem;
                color: var(--main-color);
                margin-bottom: 3rem;
                transition: .5s ease;
            }

            .social-media-one a:hover {
                background: var(--main-color);
                color: var(--second-bg-color);
                box-shadow: 0 0 1rem var(--main-color);
            }
            .home-content {
                margin-left: 5rem;
                padding-top: 5rem;
                z-index: 2;
                position: relative;
            }

            .home-content-text {
                background: rgba(0, 0, 0, 0.8);
                padding: 2rem;
                border-radius: 1rem;
                max-width: 70%;
                text-align: left;
                position: relative;
            }

            .home-content h1 {
                text-align: left !important;
                font-size: 4.5rem;
                font-weight: 700;
                line-height: 1.5;
                margin-top: 2rem;
            }

            .home-content p {
                font-size: 2rem;
                margin-top: 1rem;
            }


        /* .home-content p {
            text-align: left !important;
            font-size: 2rem;
        } */

        .social-media a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 4.5rem;
            height: 4.5rem;
            background: transparent;
            border: .2rem solid var(--main-color);
            border-radius: 50%;
            font-size: 2rem;
            color: var(--main-color);
            margin: 3rem 1.5rem 3rem 0;
            transition: .5s ease;
        }

        .social-media a:hover {
            background: var(--main-color);
            color: var(--second-bg-color);
            box-shadow: 0 0 1rem var(--main-color);
        }

        /* .social-media-container {
            display: flex;
            flex-direction: column;
        }

        .social-media-container a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 4.5rem;
            height: 4.5rem;
            background: transparent;
            border: .2rem solid var(--main-color);
            border-radius: 50%;
            font-size: 2rem;
            color: var(--main-color);
            margin: 1rem 0;
            transition: .5s ease;
        }

        .social-media-container a:hover {
            background: var(--main-color);
            color: var(--second-bg-color);
            box-shadow: 0 0 1rem var(--main-color);
        } */ 

        
        .btn1{
            display: inline-block;
            padding: 1rem 2.1rem;
            background: var(rgb(9, 255, 0));
            border-radius: 4rem;
            box-shadow: 0 0 3rem var(--main-color);
            font-size: 1.9rem;
            color: var(--second-bg-color);
            letter-spacing: .1rem;
            font-weight: 600;
            transition: .5s ease;
        }
        .btn1:hover {
            box-shadow: none;
        }


        .btn {
            display: inline-block;
            padding: 1rem 2.1rem;
            background: var(--main-color);
            border-radius: 4rem;
            box-shadow: 0 0.5rem 1rem var(--main-color);
            font-size: 1.9rem;
            color: var(--second-bg-color);
            letter-spacing: .1rem;
            font-weight: 600;
            transition: .5s ease;
        }

        .btn:hover {
            box-shadow: none;
        }

        .about {
            background: var(--second-bg-color);
        }
        
        .about-img{
            position: absolute;
            top: 1;
            right: 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

        }
        .about-img img {
            width: 30vw;
        }

        .heading {
            text-align: center;
            font-size: 6.5rem;
        }
        .about-content h1{
            text-align: left !important;
            font-size: 3.6rem;
            line-height: 3;
        }

        .about-content h2 {
            text-align: left !important;
            margin-top: 0;
            line-height: 0;
            font-size: 3rem;

        }

        .about-content h3 {
            text-align: left !important;
            font-size: 3.6rem;
        }

        .about-content p {
            text-align: left !important;
            font-size: 1.7rem;
            margin: 1rem 0 2rem;
        }
      
        .email-link {
             color: #00ff15;
        }

        .ourMethods h2{
            text-align: left !important;
            margin-top: 0;
            line-height: 0;
            font-size: 3rem;
        }

        .ourMethods span{
            font-size: 3rem;
            line-height: 3;

        }
        .ourMethods-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: 2.5rem;
        }

        .ourMethods-container .ourMethods-box {
            position: relative;
            border-radius: 2rem;
            box-shadow: 0 0 1rem var(--bg-color);
            overflow: hidden;
            display: flex;
        }

        .ourMethods-box img {
            width: 100%;
            height: 100%;
            transition: .5s ease;
        }

        .ourMethods-box:hover img {
            transform: scale(1.1);
        }

        .ourMethods-box .ourMethods-layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 0 4rem;
            transform: translateY(100%);
            transition: .5s ease;
        }

        .ourMethods-box:hover .ourMethods-layer {
            transform: translateY(0);

        }

        .ourMethods-layer h4 {
            font-size: 3rem;
        }

        .ourMethods-layer p {
            font-size: 2.3rem;
            margin: 3rem 0 1rem;
        }

        .ourMethods-layer a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            background: var(--text-color);
            border-radius: 50%;
        }

        .ourMethods-layer a i {
            font-size: 5rem;
            color: var(--second-bg-color);
        }
        .services h2 {
            text-align: left !important;
            margin-top: 0;
            line-height: 0;
            font-size: 3rem;
        }
        .services span{
            font-size: 3rem;
            line-height: 3;
        }

        .services-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 5rem; 
        }

        .services-container .services-box {
            flex: 1 1 30rem;
            background: var(--second-bg-color);
            padding: 5rem 2rem 5rem;
            border-radius: 4rem;
            text-align: center;
            border: 0.5rem solid var(--bg-color);
            transition: .7s ease;
        }

        .services-container .services-box:hover {
            border-color: var(--main-color);
            transform: scale(1.1);
        }

        .services-box i {
            font-size: 6rem;
            color: var(--main-color);
        }

        .services-box h3 {
            font-size: 4rem;
        }

        .services-box p {
            font-size: 2.3rem;
            margin: 1rem 0 3rem;
        }
        
        .technologies h2{
            text-align: left !important;
            margin-top: 0;
            line-height: 2;
            font-size: 3rem;
        }
        .technologies-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: 2.5rem;
        }

        .technologies-container .technologies-box {
            position: relative;
            border-radius: 1rem; 
            box-shadow: 0 0 0.5rem var(--bg-color); 
            overflow: hidden;
            display: flex;
            flex-direction: column; 
            max-width: 300px;
            margin: 0 auto;
        }

        .technologies-box img {
            width: 100%;
            max-height: 200px;
            object-fit: cover; 
            transition: 0.5s ease;
        }

        .technologies-box:hover img {
            transform: scale(1.1);
        }

        .technologies-layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 0 4rem;
            transform: translateY(100%);
            transition: .5s ease;
        }

        .technologies-box:hover .technologies-layer {
            transform: translateY(0);
        }

        .technologies-layer h4 {
            font-size: 3rem; 
        }

        .technologies-layer p {
            font-size: 1rem;
            margin: 1rem 0;
        }

        .technologies-layer a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 3rem; 
            height: 3rem; 
            background: var(--text-color);
            border-radius: 50%;
        }

        .technologies-layer a i {
            font-size: 2rem; 
            color: var(--second-bg-color);
        }
        .projects {
            background: var(--second-bg-color);
        }

        .projects h2 {
            text-align: left !important;
            margin-top: 0;
            line-height: 2;
            font-size: 3rem;
        }

        .projects-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: 2.5rem;
        }

        .projects-container .projects-box {
            position: relative;
            border-radius: 1rem; 
            box-shadow: 0 0 0.5rem var(--bg-color); 
            overflow: hidden;
            display: flex;
            flex-direction: column; 
            max-width: 300px;
            margin: 0 auto;
        }

        .projects-box img {
            width: 100%;
            max-height: 200px;
            object-fit: cover; 
            transition: 0.5s ease;
        }

        .projects-box:hover img {
            transform: scale(1.1);
        }

        .projects-layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 0 4rem;
            transform: translateY(100%);
            transition: .5s ease;
        }

        .projects-box:hover .projects-layer {
            transform: translateY(0);
        }

        .projects-layer h4 {
            font-size: 3rem; 
        }

        .projects-layer p {
            font-size: 1rem;
            margin: 1rem 0;
        }

        .projects-layer a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 3rem; 
            height: 3rem; 
            background: var(--text-color);
            border-radius: 50%;
        }

        .projects-layer a i {
            font-size: 2rem; 
            color: var(--second-bg-color);
        }
        .assignments {
            background: var(--second-bg-color);
        }

        .assignments h2 {
            text-align: left !important;
            margin-top: 0;
            line-height: 2;
            font-size: 3rem;
        }

        .assignments-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: 2.5rem;
        }

        .assignments-container .assignments-box {
            position: relative;
            border-radius: 1rem; 
            box-shadow: 0 0 0.5rem var(--bg-color); 
            overflow: hidden;
            display: flex;
            flex-direction: column; 
            max-width: 300px;
            margin: 0 auto;
        }

        .assignments-box img {
            width: 100%;
            max-height: 200px;
            object-fit: cover; 
            transition: 0.5s ease;
        }

        .assignments-box:hover img {
            transform: scale(1.1);
        }

        .assignments-layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 0 4rem;
            transform: translateY(100%);
            transition: .5s ease;
        }

        .assignments-box:hover .projects-layer {
            transform: translateY(0);
        }

        .assignments-layer h4 {
            font-size: 3rem; 
        }

        .assignments-layer p {
            font-size: 1rem;
            margin: 1rem 0;
        }

        .assignments-layer a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 3rem; 
            height: 3rem; 
            background: var(--text-color);
            border-radius: 50%;
        }

        .assignments-layer a i {
            font-size: 2rem; 
            color: var(--second-bg-color);
        }


        .contact h2 {
            text-align: left !important;
            margin-top: 0;
            line-height: 0;
            font-size: 3rem;
        }

        .contact form {
            max-width: 70rem;
            margin: 1rem auto;
            text-align: center;
            margin-top: 10rem;
            margin-bottom: 3rem;
        }

        .contact form .input-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .contact form .input-box input,
        .contact form textarea {
            width: 100%;
            padding: 2.5rem;
            font-size: 1.6rem;
            color: var(--text-color);
            background: var(--second-bg-color);
            border-radius: .8rem;
            margin: .7rem 0;
        }

        .contact form .input-box input {
            width: 49%;
        }

        .contact form textarea {
            resize: none;
        }

        .contact form .btn {
            margin-top: 2rem;
            cursor: pointer;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 2rem 9%;
            background: var(--second-bg-color);
        }

        .footer-text p {
            font-size: 1.6rem;
        }

        .footer-iconTop a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: .8rem;
            background: var(--main-color);
            border-radius: .8rem;
            transition: .5s ease;
        }

        .footer-iconTop a:hover {
            box-shadow: 0 0 1rem var(--main-color);
        }

        .footer-iconTop a i {
            font-size: 2.4rem;
            color: var(--second-bg-color);

        }

        @media (max-width: 1200px) {
            html{
                font-size: 55%;
            }
        }

        @media (max-width: 991px) {
            .header{
                padding: 2rem 3%;
            }

            section {
                padding: 10rem 3% 2rem;
            }

            .services {
                padding-bottom: 7rem;
            }

            .ourMethods {
                padding-bottom: 7rem;
            }

            .technologies {
                padding-bottom: 7rem;
            }

            .projects {
                padding-bottom: 7rem;
            }
            .assignments {
                padding-bottom: 7rem;
            }

            .contact {
                 min-height: auto;
            }

            .footer {
                padding: 3rem 3%;
            }
        }
        
        @media (max-width: 768px) {
            #menu-icon {
                display: block;
            }

            .navbar { 
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 1rem 3%;
                background: var(--bg-color);
                border-top: .1rem solid rgba(0, 0, 0, .2);
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
                display: none;
            }

            .navbar.active {
                display: block;
            }

            .navbar a {
                display: block;
                font-size: 2rem;
                margin: 3rem 0;
            }

            .home {
                flex-direction: column;
            }

            .home-content h3 {
                font-size: 2.6rem;
            }

            .home-content h1 {
                font-size: 5rem;
            }

            .home-img img {
                width: 70vw;
                margin-top: 4rem;
            }

            .about {
                flex-direction: column-reverse;
            }

            .about img {
                width: 70vw;
                margin-top: 4rem;
            }
            
            .services h2 {
                margin-bottom: 3rem;
            } 

            .projects h2 {
                margin-bottom: 3rem;
            }

            .projects-container {
                grid-template-columns: repeat(2, 1fr);
            }
            .assignments h2 {
                margin-bottom: 3rem;
            }

            .assignments-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: 617px){
            .projects-container {
                grid-template-columns: 1fr;
            }
        }
        @media (max-width: 617px){
            .assignments-container {
                grid-template-columns: 1fr;
            }
        }

        @media (max-width: 450px) {
            html {
                font-size: 50%;
            }

            .contact form .input-box input {
                width: 100%;
            }
        }
        
        @media (max-width: 365px) {
            .home-img img {
                width: 90vw;
            }

            .about-img img {
                width: 90vw;
            }

            .footer {
                flex-direction: column-reverse;
            }

            .footer p {
                text-align: center;
                margin-top: 2rem;
            }
        }