@media all and (max-width: 425px) {

/*-----------------------------------Home--------------------------------------*/
section{
    padding: 1.186vw;
}
header>section>h2{
    position: absolute;
    top: 4.5vw;
    left: 33.4vw;
    font-size: 5.779vw;
}
header>section{

}
header>section>nav{
    display: none;
}
li, h4 {

}
hgroup>h1{

}
menu>a{
    font-size: 1.6vw;
    padding-left: 1.112vw;
}
.homeBacground {
    width: calc(100%/100*102);
    height: 85vw;
    left: -2vw;
}
.profilePic {
    width: 31.5vw;
    height: 34.5vw;
    left: 32.4vw;
    top: 21.2vw;
}
main>section:first-child::before {
    height: 66.912vw;
}
main>section:first-child {
    height: 88vw;
}
main>section>section {
    top: 66.567vw;
    left: 5vw;
    text-align: center;
}
section>section>hgroup>h1{
    margin-bottom: 0.6vw;
    font-size: 6.5vw;
}
section>section>article>pre{
    font-size: 3.1vw;
}
main>section>section>a{
    font-size: 3.886vw;
}
.rollback{
    width: 8.965vw;
    height: 8.965vw;
    position: fixed;
    display: inline-block;
    border-radius: 100%;
    z-index: 5;
    right: 2.965vw;
    bottom: 1.483vw;
    margin: 1.85325vw 0;
}
.rollback>img{
    width: 5.553vw;
}
/*-----------------------------------About--------------------------------------*/
.headlines {
    font-size: 5.965vw;
}
.flex-container{
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-left: 5vw;
}
.flex-item {
    max-width: calc(160%/3);
    margin-bottom: 6vw;
}
.flex-item pre{
    font-size: 3.1vw;
}
.flex-item h2{
    font-size: 4.779vw;
    margin-bottom: 5vw;
}
.flex-item div{
    padding-top: 1.993vw;
}
.flex-item li {

}
.flex-item div>div{
    width: 6.336vw;
    height: 5.631vw;
}
.flex-item div>div>img{
    width: 4.1vw;
}
.mail{
    font-size: 3vw;
}
li, h4 {
    font-size: 4vw;
}

/*-----------------------------------Education--------------------------------------*/
.second-flex-container{
    padding-left: 10.558vw;
    flex-direction: column;
}
.sec-flex-item{
    width: calc(100%/100*43);
}
.sec-flex-item>h4{
    text-align: start;
    font-size: 4.7vw;
    bottom: 24.343vw;
    padding-left: 3.2vw;
}
.sec-flex-item li{
    margin-bottom: 2vw;
    margin-left: 2vw;
}
.sec-flex-item li>abbr{

}
.sec-flex-item>div{
    bottom: 25.743vw;
    left: -4.3vw;
    width: 7.336vw;
    height: 7.336vw;
}
.sec-flex-item>div>img{
    width: 5.965vw;
}
/*-----------------------------------Skill--------------------------------------*/
.th-flex{
    flex-direction: column;
    padding-left: 0vw;
}
.th-flex-item{
    padding: 0;
    margin-bottom: 0.5vw;
    text-align: center;
}
.th-flex-item>menu>li {
    font-size: 4.8vw;
    margin-bottom: 3.741vw;
}
/*-----------------------------------Tools--------------------------------------*/
.th-flex{
    padding-bottom: 6vw;
}
.th-flex-item{
    max-width: calc(100%);
}
.th-flex-item>menu>li{
    font-size: 4.8vw;
}
.th-flex-span{
    font-size: 6.372vw;
}
.skill-item{

}
.skill-item-img{
    width: 9vw;
    height: 9vw;
}
.skill-item-tw{

}
/*-----------------------------------Project--------------------------------------*/
.project-item{
    align-items: center;
    flex-direction: column;
}
.project-item-img{
    width: 37.119vw;
    height: 58.42vw;
    border-radius: 10%;
    margin-right: 1.186vw;
    margin-top: 3.558vw;
    margin-bottom: 2.965vw;
}
.pro-img{
    width: 37.119vw;
    height: 58.42vw;
}
.div{

}
.project-item-img:hover .div{

}
.more-img{

}
.div>h3{
    left: 34%;
    right: 66%;
}
.project-item-img:hover .div>h3{
    font-size: 5.1vw;
}
/*-----------------------------------Assignment--------------------------------------*/
.assignment-item-img{
    width: 37.119vw;
    height: 58.42vw;
    border-radius: 10%;
    margin-right: 6.186vw;
    margin-top: 3.558vw;
    margin-bottom: 8vw;
}
.as-img{
    width: 37.119vw;
    height: 58.42vw;
}
.assignment-div{

}
.assignment-item-img:hover .assignment-div{

}
.assignment-more-img{

}
.assignment-div>h3{
    left: 34%;
    right: 66%;
}
.assignment-item-img:hover .assignment-div>h3{
    font-size: 5.1vw;
}
.assignment-item-img:hover #assign-tr ,.assignment-item-img:hover #assign-an,.assignment-item-img:hover #assign-js{
    font-size: 16px;
    left: 21%;
    right: 79%;
    top: 105%;
    bottom: -15%;
}
.assignment-item-img:hover #assign-css{
    font-size: 16px;
    left: 39%;
    right: 61%;
    top: 105%;
    bottom: -15%;
}
/*-----------------------------------Activity--------------------------------------*/
.activity-item{
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.activities-item-img{
    width: 37.119vw;
    height: 58.42vw;
    border-radius: 10%;
    margin-right: 6.186vw;
    margin-top: 3.558vw;
    margin-bottom: 2.965vw;
}
.activ-img{
    width: 37.119vw;
    height: 58.42vw;
}
.activities-div{

}
.activities-div>h3{
    left: 34%;
    right: 66%;
}
.activities-item-img:hover .activities-div{

}
.activities-item-img:hover .activities-div>h3{
    font-size: 5.1vw;
}
.activities-more-img{

}
/*-----------------------------------Service--------------------------------------*/
.service-item{
    flex-direction: column;
    text-align: center;
}
.service-item-img{
    width: 60.42vw;
    height: 37.119vw;
    border-radius: 10%;
    margin-right: 1.186vw;
    margin-left: 1.186vw;
    margin-top: 4.151vw;
    margin-bottom: 4.744vw;
}
.service-item>div:hover .service-item-img {

}
.service-item>div>div>h3{
    font-size: 6vw
}
.service-item>div{

}
.move-div{

}
.service-item>div:hover .move-div {

}
/*-----------------------------------Gallery--------------------------------------*/
.gallery-item{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.gallery-item-img{
    width: 37.119vw;
    border-radius: 10%;
    margin-right: 1.186vw;
    margin-top: 3.558vw;
    margin-bottom: 2.965vw;
    object-fit: cover;
    margin-left: 1.186vw;
    height: 58.42vw;
}
/*-----------------------------------Contact--------------------------------------*/
.contact-item{
    flex-direction: column;
    align-items: center;
    width: 91%;
    padding-left: 4.586vw;
}
.contact-item-set{
    flex: 1;
    max-width: 100%;
    margin-bottom: 6.672vw;
}
.contact-info{
    max-width: 100%;
    padding-right: 1vw;
}
.fealdset{
    width: 60vw;
}
.contact-text{
    font-size: 3.786vw;
    width: 94%;
}
.address{
    text-align: center;
}
.contact-details{
    font-size: 5vw;
    margin-left: 0;
}
.contact-container {
    width: 6.236vw;
    height: 35.756vw;
}
.contact-container > div {
    width: 6.336vw;
    height: 6.336vw;
}
.contact-container > div>img{
    width: 4.8vw;
}
.fealdset>button{
    background-size: 210%;
    font-size: 3.9vw;
    width: 25%;
}
button>img{
    width: 4.483vw;
}

.social-icon {
    width: 3.853vw;
    bottom: 7.5vw;
    left: calc(100%/100*20.65);

}
.social-icon-img {
    width: 7.336vw;
    margin-right: 5.74vw
}
main>section:last-child>nav{
    display: flex;
    justify-items: center;
}
textarea{
    resize: none;
}
/*-----------------------------------footer--------------------------------------*/
footer>h5 {
    font-size: 3.634vw;
}
}